.more-lootgen {
  margin-top: 80px;
  position: relative;
  z-index: -1;
}

.more-lootgen p {
  color: #999999;
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}

.more-lootgen .loot-view {
  margin-bottom: 40px;
}
