.item-counter {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
  font-weight: 500;
}

.item-counter.empty {
  opacity: 0.5;
  font-size: 18px;
}

.loot-view {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #000000;
  width: 480px;
  height: 480px;
}

.loot-items {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  padding-left: 24px;
  padding-right: 24px;
}

.loot-items input {
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
  background-color: #000;
  font-size: 24px;
  color: #ffffff;
}

.loot-items input.disabled {
  cursor: default;
}
