.loot-header {
  margin-top: 10px;
  margin-bottom: 0;
}

.header-links {
  justify-content: space-between;
  margin-bottom: 10px;
}

.logo {
  display: flex;
  flex-direction: row;
}

.header-links a {
  text-decoration: none;
}

.nav-links {
  flex-direction: row;
  align-items: center;
}

.nav-links h3 {
  margin-left: 16px;
}

.subtitle {
  margin-bottom: 80px;
}

@media (min-width: 641px) {
  .loot-header {
    margin-top: 40px;
  }

  .header-links {
    margin-bottom: 16px;
  }
}
