.item-counter {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-weight: 500;
}

.item-counter.empty {
  opacity: 0.5;
  font-size: 14px;
}

.loot-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #000000;
  width: 355px;
  height: 355px;
}

.loot-items {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  padding-left: 10px;
  padding-right: 10px;
}

.loot-items input {
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
  background-color: #000;
  font-size: 18px;
  color: #ffffff;
}

.loot-items input.disabled {
  cursor: default;
}

.submit-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.share-button-container {
  padding: 0 10px;
  margin-bottom: 10px;
}

.copied-notification {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 6px;
  margin-left: 6px;
  animation: fadeInOut linear 3.5s forwards;
}

@keyframes fadeInOut {
  0% {opacity: 0;}
  7% {opacity: 1;}
  93% {opacity: 1;}
  100% {opacity: 0;}
}

.share-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.share-buttons .button {
  margin-right: 8px;
}

.share-buttons .button:last-of-type {
  margin-right: 0;
}

.share-button {
  flex-grow: 1;
  max-width: 60%;
  overflow: hidden;
}

.twitter-share-button {
  margin: 0;
}

@media (min-width: 641px) {
  .item-counter {
    top: 24px;
    right: 24px;
  }

  .item-counter.empty {
    font-size: 18px;
  }

  .loot-view {
    width: 480px;
    height: 480px;
  }

  .loot-items {
    margin-top: 36px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .loot-items input {
    margin-bottom: 6px;
    font-size: 24px;
  }

  .submit-button {
    bottom: 24px;
    right: 24px;
  }

  .share-button-container {
    padding: 0 24px;
    margin-bottom: 24px;
  }

  .copied-notification {
    font-size: 18px;
  }
}
