@import url("https://fonts.googleapis.com/css?family=EB+Garamond");

body {
  background-color: #1a1a1a;
  font-family: "EB Garamond", serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: 500;
}

h1 {
  font-size: 32px;
}

h3, a {
  color: #a3a3a3;
  font-size: 18px;
}

.App {
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

textarea, input {
  border: none;
  outline: none;
  font-family: "EB Garamond", serif;
}

.container {
  width: 355px;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  padding: 6px 10px;
  cursor: pointer;
}

.button.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.button.disabled:active {
  background-color: #ffffff;
}

.button:active {
  background-color: #888888;
}

@media (min-width: 641px) {
  h1 {
    font-size: 48px;
  }

  .container {
    width: 480px;
  }
}
