@import url("https://fonts.googleapis.com/css?family=EB+Garamond");

body {
  background-color: #1a1a1a;
  font-family: "EB Garamond", serif;
}

.App {
  display: flex;
  justify-content: center;
}

textarea, input {
  border: none;
  outline: none;
  font-family: "EB Garamond", serif;
}

.submit-button {
  background-color: #ffffff;
  font-weight: 600;
  position: absolute;
  bottom: 24px;
  right: 24px;
  font-size: 18px;
  padding: 6px 10px;
  cursor: pointer;
}

.submit-button.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.submit-button.disabled:active {
  background-color: #ffffff;
}

.submit-button:active {
  background-color: #888888;
}
